.quillWrapper {
    width: 100% !important;

    .ql-toolbar.ql-snow {
        border-radius: 8px 8px 0 0 !important;
    }

    .ql-toolbar.ql-snow+.ql-container.ql-snow {
        border-radius: 0 0 8px 8px !important;
        min-height: 100px !important;
    }
}