.help-article {
    position: relative;
    margin: 100px 15%;

    h1 {
        font-size: 4rem;
    }

    .back-btn {
        position: absolute;
        top: -8px;
        left: 0px;
    }

    .article-content {
        margin: 0 15%;
    }
}