.navbar__authentication {
    position: relative;
}
.overlay {
    position: fixed;
    top: 50%;
    left: calc(50% - 1px);
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: all 0.8s ease-in-out;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 100%;
    height: 100%;
}

.overlay-visible {
    animation: fadeInZoom 0.2s linear;
}

@keyframes fadeInZoom {
    0% {
        transform: translate(-50%, -50%) scale(0.95);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.authentication-container {
    height: 100%;
    position: relative;
    z-index: 1001;
}

.authentication {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50%;
    margin-top: 15vh;
    height: 70vh;
    width: 50%;
    transform: translate(-50%);
    background-color: white;
    overflow: none;
    border-radius: 12px;

    .authentication--left {
        width: 50%;
        height: 100%;
        position: relative;
        text-align: center;
        color: white;
        padding: 28px 40px;
        font-weight: 500;
        line-height: 2rem;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));

        h2 {
            margin-bottom: 8px;
        }

        .line {
            display: inline-block;
            width: 40px;
            height: 3px;
            border-radius: 4px;
            transform: unset;
            background-color: white;
        }

        .authentication__img {
            position: absolute;
            z-index: -1;
            left: -1px;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px 0 0 12px;
            background: linear-gradient(to top, rgb(12 12 12 / 70%), rgba(0, 0, 0, 0));
        }

        .authentication__img-reference {
            position: absolute;
            z-index: -1;
            left: 50%;
            transform: translateX(-50%);
            bottom: 40px;
            font-style: italic;
            z-index: 100;
        }
    }

    .authentication--right {
        height: 100%;
        width: 52%;
        padding: 28px 52px;
        position: relative;

        .form__title {
            text-align: center;
        }

        .form__close-ic {
            position: absolute;
            width: 24px;
            height: 24px;
            top: 28px;
            right: 52px;

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }

        .form__extra-text {
            text-align: center;

            .form__extra-text__link {
                color: var(--orange-2);

                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
        }

        .login-option-container {
            margin-left: 50%;
            transform: translateX(-50%);
            width: 100%;

            .login-option-item {
                width: 80%;
                display: flex;
                align-items: center;
                border: 2px solid var(--black-2-color);
                border-radius: 8px;
                padding: 6px 10px;
                margin-left: 50%;
                transform: translateX(-50%);
                margin-bottom: 12px;

                .login-option-item__img {
                    width: 20px;
                    height: 20px;
                    margin-right: 12px;
                    object-fit: cover;
                }
            }
        }
    }

    p {
        text-align: center;
    }
}
