.profile-commission-services {
    .profile-commission-service__category-container {

        .profile-commission-service__category-item {
            border-radius: 24px;
            padding: 18px 24px;
            margin-bottom: 20px;
            position: relative;
            border: 1px solid var(--gray-1-color);
            box-shadow: var(--box-shadow-1);

            .profile-commission-service__category-item__update-btn {
                position: absolute;
                top: 20px;
                right: 88px;
            }

            .profile-commission-service__category-item__delete-btn {
                position: absolute;
                top: 20px;
                right: 28px;
            }

            .profile-commission-service__category-item__header {
                font-size: 2rem;
                margin: 0;
                font-weight: 600;
                color: var(--gray-3-color);
            }

            .profile-commission-service__category-item__service-container {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                hr {
                    margin: 16px 0;
                }

                .profile-commission-service__category-item__service-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 12px;
                    transition: 0.2s linear;
                    position: relative;
                    margin-bottom: 32px;

                    .bookmark-service-btn {
                        position: absolute;
                        right: 12px;
                        top: 0;
                    }

                    .profile-commission-service__category-item__service-item--left {
                        width: 45%;
                    }

                    .profile-commission-service__category-item__service-item--right {
                        width: 52%;

                        h3 {
                            font-size: 2.2rem;
                            margin: 0;
                            color: var(--black-1-color);
                        }

                        h4 {
                            margin: 8px 0;
                            font-size: 1.8rem;
                        }



                        .profile-commission-service__category-item__service-item__note {
                            color: var(--black-2-color);
                            opacity: 0.8;
                            font-style: italic;
                        }

                        button {
                            margin-right: 12px;
                        }

                    }
                }
            }
        }
    }

    .order-service-now-btn {
        width: 70%;
        padding: 12px 8px;
    }
}

// RESPONSIVE
/* PC styles (>= 1024px) */
@media only screen and (min-width: 1024px) {}

/* Tablet styles (740px to 1023px) */
@media only screen and (min-width: 740px) and (max-width: 1023px) {}

/* Mobile styles (<= 739px) */
@media only screen and (max-width: 739px) {
   
    .profile-commission-service__category-item {
        padding: 18px 16px !important;
        .images-layout-3 {
            height: 200px;
        }
        
        .profile-commission-service__category-item__service-container {
            // flex-wrap: wrap;

            .profile-commission-service__category-item__service-item {
                flex-wrap: wrap;
                // width: 100%;
                // flex-wrap: wrap;

                .profile-commission-service__category-item__service-item--left,
                .profile-commission-service__category-item__service-item--right {
                    width: 100% !important;
                }

                .profile-commission-service__category-item__service-item--right {
                    margin-top: 12px;
                }
            }
        }
    }
}