.static-layout {
    .static-outlet-content {
        margin: 90px 16%;

        h1,
        h2,
        h3,
        h4,
        strong {
            color: var(--black-1-color);
        }

        p, span {
            color: var(--black-3-color);
            font-size: 1.5rem;
            line-height: 2.6rem;
        }

        span {
            // text-align: justify;
        }
    }

    .highlight-text {
        // font-size: 1.6rem;
        font-weight: bold;
    }
}