.modal-form.type-2 {
    width: 70% !important;
    height: 90vh !important;
    max-height: unset;
}
.ck.ck-editor__main>.ck-editor__editable {
    height: 700px !important;
}

.news-form-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--white-3-color);
    border-radius: 16px;

    .form-section {
        width: 48%;
    }

    .preview-section {
        width: 48%;
        padding: 40px;
        overflow-y: hidden;

        img {
            width: 100%;
            text-align: center;
        }


        .preview-section__thumbnail {
            width: 100%;
            border-radius: 16px;
            height: 200px;
        }
    }


}