.profile-status {
    .form-field.with-ic {
        // overflow: hidden;
        .show-emoji-btn {
            // top: calc(100% + 10px);

            svg {
                stroke: var(--black-2-color);
            }
        }

        .vertical-hr {
            height: 1px;
            width: 42px;
            transform: rotate(90deg);
            margin: 0;
        }
    }
}