.help-center {
    margin: 100px 0% 40px;

    .navbar {
        .navbar--left {}

        .navbar--right {}
    }


    .help-center__content {
        margin: 0 5%;

        .faq-container {
            // display: flex;
            // justify-content: space-between;

            // .faq--left {}

            // .faq--right {

            // }
            text-align: center;
            margin: 20px 30% 40px;

            .faq-item {
                font-size: 1.7rem;
                padding: 12px 0;
                border-bottom: 2px solid var(--gray-1-color);

                color: var(--orange-1-color);

                &:last-child {
                    border-bottom: unset;
                }
            }
        }
    }
}