.sidebar {
    border: 1px solid var(--gray-1-color);
    border-radius: 12px;
    padding: 40px 48px;
    box-shadow: var(--box-shadow-1);

    .hover-display-label {
        position: relative;
    }

    .hover-display-label::after {
        content: attr(aria-label);
        position: absolute;
        left: 50%;
        bottom: 100%;
        font-size: 1.2rem;
        transform: translateX(-50%);
        background-color: var(--black-5-color);
        color: var(--white-4-color);
        padding: 6px;
        border-radius: 6px;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease-in-out;
        z-index: 1;
    }

    .hover-display-label:hover::after {
        opacity: 1;
    }


    .reactEasyCrop_CropArea {
        border-radius: 50%;
    }

    .sidebar__avatar {
        margin-left: 50%;
        transform: translate(-50%);
        position: relative;
        width: 140px;
        height: 140px;
        border-radius: 50%;

        .sidebar__avatar__ic {
            position: absolute;
            color: var(--black-5-color);
            background-color: white;
            bottom: 8px;
            right: 8px;
            width: 28px;
            height: 28px;
            object-fit: cover;
            border-radius: 50%;
            border: 4px solid white;
            box-shadow: var(--box-shadow-2);
            font-size: 1.8rem;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }


        .sidebar__avatar__update-img {
            width: 100%;
            height: 100%;

            .sidebar__avatar__choose-avatar-ic {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: 0.3s linear;
                background-color: white;
                width: 28px;
                height: 28px;
                padding: 4px;
                border-radius: 50%;
            }

            .sidebar__avatar__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
                border: 4px solid white;
                box-shadow: rgba(51, 51, 51, 0.2) 0px 2px 8px;





            }
        }

        &.profile-owner:hover {
            .sidebar__avatar__choose-avatar-ic:not(.update-profile-status-ic) {
                opacity: 1;
                cursor: pointer;
            }

            .sidebar__avatar__img:not(.update-profile-status-ic) {
                opacity: 0.8;
                cursor: pointer;
            }
        }

        .sidebar__avatar__ic:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

    .sidebar__section {
        text-align: start;
        margin-bottom: 28px;

        p {
            margin: 0;
        }

        .sidebar__section__title {
            font-weight: bold;
        }
    }

    .sidebar__socials {
        .sidebar__socials__link-container {
            .sidebar__socials__link-item {
                display: flex;
                align-items: center;
                margin-bottom: 12px;

                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }

                svg {
                    fill: var(--black-1-color) !important;
                    margin-right: 8px;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }

            }
        }
    }

    .sidebar__name {
        text-align: center;
        margin-bottom: 20px;

        .sidebar__name__fullName {
            margin-bottom: 6px;
            font-weight: bold;
            font-size: 1.6rem;
            color: var(--black-1-color);
        }

        .sidebar__name__stageName {
            font-style: italic;
            color: var(--gray-3-color);
        }
    }



    .sidebar__location,
    .sidebar__job-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6px;

        svg {
            margin-right: 6px;
        }
    }

    .sidebar__follow {
        margin-bottom: 20px;

        .sidebar__follow__follow-container {
            // position: relative;
            display: flex;
            align-items: center;
            // max-width: 80px;

            .sidebar__follow__follow-item {
                transform: translateY(-50%);

                &:nth-of-type(1) {
                    transform: translateX(0px);
                    z-index: 5;
                }

                &:nth-of-type(2) {
                    transform: translateX(-10px);
                    z-index: 4;
                }

                &:nth-of-type(3) {
                    transform: translateX(-20px);
                    z-index: 3;
                }

                &:nth-of-type(4) {
                    transform: translateX(-30px);
                    z-index: 2;
                }


                &:nth-of-type(5) {
                    transform: translateX(-40px);
                    z-index: 1;
                }

                &:nth-of-type(6) {
                    transform: translateX(-50px);
                    z-index: 0;
                }

                .user--left {
                    position: relative;
                    margin: 0;
                    padding: 0;
                }

                .overlay {
                    position: absolute;
                    width: 32px;
                    height: 32px;
                    // left: 0;
                    border-radius: 50%;
                    background-color: rgba(0, 0, 0, 0.5);
                    display: block;
                    text-align: center;
                    line-height: 32px;
                    font-size: 1rem;
                    color: white;
                }
            }
        }
    }

    .sidebar__btn {
        margin-bottom: 12px;
        width: 100%;
        font-weight: 600;
        // padding: 8px 10px;

        svg {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            object-fit: cover;
        }
    }

    .edit-profile-form {
        text-align: start;
        margin-top: 32px;
    }
}



// RESPONSIVE
/* PC styles (>= 1024px) */
@media only screen and (min-width: 1024px) {}

/* Tablet styles (740px to 1023px) */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .sidebar {
        margin-top: 0;
        position: relative;

        .sidebar__bg {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            height: 200px;
        }

        .sidebar__avatar {
            margin-top: 100px;
        }
    }
}

/* Mobile styles (<= 739px) */
@media only screen and (max-width: 739px) {}