.sidebar {
    border: 1px solid var(--gray-1-color);
    border-radius: 12px;
    padding: 40px 48px;
    box-shadow: var(--box-shadow-1);

    .sidebar__avatar {
        margin-left: 50%;
        transform: translate(-50%);
        position: relative;
        width: 140px;
        height: 140px;

        .sidebar__avatar__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: 4px solid white;
            box-shadow: rgba(51, 51, 51, 0.2) 0px 2px 8px;

            &.loading-spinner {
                // border: 8px solid rgba(0, 0, 0, 0.1);
                // border-left-color: #726FFF;
                // border-radius: 50%;
                // width: 140px;
                // height: 140px;
                // animation: spin 1s linear infinite;
                // margin: 20px auto;
                // z-index: 1000;
            }

            // @keyframes spin {
            //     0% {
            //         transform: rotate(0deg);
            //     }

            //     100% {
            //         transform: rotate(360deg);
            //     }
            // }
        }

        .sidebar__avatar__ic {
            color: var(--black-5-color);
            position: absolute;
            background-color: white;
            bottom: 8px;
            right: 8px;
            width: 28px;
            height: 28px;
            object-fit: cover;
            border-radius: 50%;
            border: 4px solid white;
            box-shadow: var(--box-shadow-2);

            &:hover {
                opacity: 0.9;
                cursor: pointer;
            }
        }
    }

    .sidebar__section {
        text-align: start;
        margin-bottom: 28px;

        p {
            margin: 0;
        }

        .sidebar__section__title {
            font-weight: bold;
        }
    }

    .sidebar__socials {
        .sidebar__socials__link-container {
            .sidebar__socials__link-item {
                display: flex;
                align-items: center;
                margin-bottom: 12px;

                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }

                svg {
                    fill: var(--black-1-color) !important;
                    margin-right: 8px;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }

            }
        }
    }

    .sidebar__name {
        text-align: center;
        margin-bottom: 20px;

        .sidebar__name__fullName {
            margin-bottom: 6px;
            font-weight: bold;
            font-size: 1.6rem;
            color: var(--black-1-color);
        }

        .sidebar__name__email {
            color: var(--black-2-color);
        }
    }



    .sidebar__location,
    .sidebar__job-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6px;

        svg {
            margin-right: 6px;
        }
    }

    .sidebar__follow {
        text-align: center;
        margin-bottom: 20px;

        .sidebar__follow__follow-container {
            // position: relative;

            .sidebar__follow__follow-item {

                &:nth-of-type(1) {
                    position: absolute;
                    top: 0px;
                    left: 10px;
                    z-index: 0;
                }

                &:nth-of-type(2) {
                    position: absolute;
                    top: 0px;
                    left: 20px;
                    z-index: 1;
                }

                &:nth-of-type(3) {
                    position: absolute;
                    top: 0px;
                    left: 30px;
                    z-index: 2;
                }

                // position: absolute;
                // left: 30px;
                // top: 50%;

                img {
                    // margin-right: 50%;
                    transform: translateY(-50PX);
                }
            }
        }
    }

    .sidebar__btn {
        margin-bottom: 12px;
        width: 100%;
        font-weight: 600;
        // padding: 8px 10px;

        svg {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            object-fit: cover;
        }
    }

    .edit-profile-form {
        text-align: start;
        margin-top: 32px;
    }
}



// RESPONSIVE
/* PC styles (>= 1024px) */
@media only screen and (min-width: 1024px) {}

/* Tablet styles (740px to 1023px) */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .sidebar {
        margin-top: 0;
        position: relative;

        .sidebar__bg {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            height: 200px;
        }

        .sidebar__avatar {
            margin-top: 100px;
        }
    }
}

/* Mobile styles (<= 739px) */
@media only screen and (max-width: 739px) {}