@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    // Light theme colors
    --black-1-color: black;
    --black-1-color: #2a2b2c;
    --black-2-color: #262626;
    --black-3-color: #191919;
    --black-4-color: #212121;
    --black-5-color: #212121;

    --gray-1-color: #eeeeee;
    --gray-2-color: #d8d7d7;
    --gray-3-color: #4D4D4D;
    --gray-4-color: #d8d7d7;
    --gray-5-color: #bdbdbd;

    --red-1-color: #ff3e3e;
    --red-2-color: #e45454;

    --orange-1-color: #ff9c65;
    --orange-2-color: #fb9257;
    --orange-3-color: #f8cb97;

    --white-1-color: white;
    --white-2-color: white;
    --white-3-color: white;
    --white-4-color: white;

    --box-shadow-1: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    --box-shadow-2: rgba(0, 0, 0, 0.2) 0px 2px 8px;
    --box-shadow-3: rgb(0 0 0 / 30%) 0px 2px 20px;
    --box-shadow-4: rgb(79 127 249 / 20%) 0px 3px 5px;

    --form-border: unset;
    --form-bg-1-color: #F7F7F7;
    --form-bg-2-color: white;
    --form-bg-3-color: #F7F7F7;

    --gradient-btn-bg-color: rgba(0, 0, 0, 0.6);
    --color-scheme: light;

    --pending-status-bg-color: #ffe8d4;
    --pending-status-color: #f68038;

    --rejected-status-bg-color: #fad6d6;
    --rejected-status-color: #e20c0c;

    --approved-status-bg-color: #e4f7db;
    --approved-status-color: #82c011;
}

body.dark {
    transition: 0s linear;
    // Light theme colors
    --black-color: white;
    --black-1-color: #dddddd;
    --black-2-color: #a8a8a8;
    --black-3-color: rgb(187, 183, 183);
    --black-4-color: #501dd2;
    --black-5-color: #212121;

    --gray-1-color: #2a2b2c;
    --gray-2-color: #2a2b2c;
    --gray-3-color: #868181;
    --gray-4-color: #2d2d2d;
    --gray-5-color: #757575;

    --orange-2-color: #ffa471;
    --orange-3-color: #6e4517;

    --white-1-color: rgb(224, 220, 220);
    --white-2-color: #292929;
    --white-3-color: #0b0b0b;
    --white-4-color: white;

    --box-shadow: rgba(99, 99, 99, 0) 0px 2px 8px;
    --box-shadow-2: 0 2px 5px rgb(40 40 40 / 20%) --form-border: unset;
    --gradient-btn-bg-color: rgba(255, 255, 255, 0.6);

    --red-1-color: #ff6a6a;
    --color-scheme: dark;
    --form-bg-1-color: #0e0e0e;
    --form-bg-2-color: #161616;
    --form-bg-3-color: #272727;

    --pending-status-bg-color: #30241d;
    --pending-status-color: #f68038;

    --rejected-status-bg-color: #2d2020;
    --rejected-status-color: #e20c0c;

    --approved-status-bg-color: #20271d;
    --approved-status-color: #7ab114;
    // svg {
    //     stroke: var(--gray-3-color);
    //     stroke-width: 2px;

    //     .filled-svg {
    //         stroke: unset;
    //         stroke-width: unset;
    //     }
    // }
}



* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

svg {
    // fill: var(--black-2-color);
    width: 22px;
    height: 22px;
    object-fit: cover;

    &.sm {
        width: 18px;
        height: 18px;
    }

    &.md {
        width: 20px;
        height: 20px;
    }

    &.lg {
        width: 24px;
        height: 24px;
    }
}

body {
    margin: 0;
    scroll-behavior: smooth;
    text-overflow: ellipsis;
    width: 100%;
    // overflow-y: hidden;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: var(--white-3-color);
    // transition: 0.2s linear;
    color: var(--black-2-color);

    &:has(.modal-form) {
        overflow: hidden;
    }
}

#root {
    position: relative;
}

.app {
    margin: 72px 3% 50px;

    &.with-sidebar {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }

}

::selection {
    // color: white;
    // background: #c661ff;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

ol li {}

a {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--black-2-color);
}

// Headings & Texts
h1 {
    font-size: 2.6rem;
    line-height: 4.6rem;
}

h2 {
    font-size: 2.2rem;
    line-height: 3.2rem;
    margin: 8px 0;
}

h3 {
    font-size: 2rem;
    line-height: 2.8rem;
    margin: 12px 0;
}

h4 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    margin: 8px 0;
}

p {
    font-size: 1.4rem;
    line-height: 2rem;
    width: 100%;
    // word-break: break-all;
}

span {
    font-size: 1.4rem;
    line-height: 2rem;
    // word-break: break-all;
    // width: 100%;
}

img {
    display: block;
    object-fit: cover;
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
    display: block !important;
}

.lazy-load-image-background.blur.lazy-load-image-loaded:has(.sidebar__avatar__img) {
    width: 100%;
    height: 100%;
}

.lazy-load-image-background.blur.lazy-load-image-loaded:has(.profile__bg__img) {
    width: 100%;
    height: 100%;
}

.fs-12 {
    font-size: 1.2rem !important;
}

.fs-13 {
    font-size: 1.3rem;
}

.fs-14 {
    font-size: 1.4rem;
}

.fs-15 {
    font-size: 1.5rem;
}

.fs-16 {
    font-size: 1.6rem;
}

.fs-18 {
    font-size: 1.8rem;
}

.fs-20 {
    font-size: 2.0rem;
}

.fs-22 {
    font-size: 2.2rem;
}

.fs-24 {
    font-size: 2.4rem;
}


.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-bold {
    font-weight: bold;
}

.hover-cursor-opacity {
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.hover-underline {
    &:hover {
        text-decoration: underline;
    }
}

.underlined-text {
    text-decoration: underline !important;
}
.highlight-text {
    color: var(--orange-2-color) !important;


    &.with-hover-effect {
        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
}

.highlight-bg-text {
    background-color: var(--pending-status-bg-color);
    color: var(--pending-status-color);
    padding: 8px;
    border-radius: 8px;
}

.normal-text {}

.downlight-bg-text {
    background-color: var(--gray-3-color);
}

.downlight-text {
    color: var(--gray-3-color);
}

.border-text {
    padding: 12px 20px;
    border-radius: 16px;
    border: 1px solid var(--gray-2-color);
    box-shadow: var(--box-shadow-1);
}

.display-inline-block {
    display: inline-block;
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.w-50 {
    width: 50% !important;
}

.w-100 {
    width: 100% !important;
}

.w-unset {
    width: unset;
}

.mb-8 {
    margin-bottom: 8px;
}

.text-align-center {
    text-align: center;
}

.status {
    padding: 6px 8px;
    border-radius: 8px;
    font-size: 1.3rem;
    position: relative;
    display: inline-block;

    .status__bg {
        filter: blur(2px);
        background-color: red;
        // position: absolute;
        // left: 0;
        // top: 0;
        // right: 0;
        // bottom: 0;
    }

    .status__title {}

    &.pending {
        background-color: var(--pending-status-bg-color);
        color: var(--pending-status-color);
    }

    &.rejected,
    &.canceled,
    &.under_processing {
        background-color: var(--rejected-status-bg-color);
        color: var(--rejected-status-color);
    }

    &.approved {
        background-color: var(--approved-status-bg-color);
        color: var(--approved-status-color);
    }
}

// Navigation bar
.sub-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 16px;

    .sub-nav-item {
        margin-right: 28px;
        padding: 4px 8px 6px 0;
        font-size: 1.6rem;

        &.active {
            position: relative;
            font-weight: bold;
            color: var(--black-3-color) !important;

            svg {
                stroke-width: 2;
            }

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 4px;
                background-color: var(--black-2-color);
                bottom: -12px;
                left: 0;
            }
        }
    }
}

.gray-bg-hover {
    &:hover {
        cursor: pointer;
        background-color: var(--gray-1-color);
    }
}

.bg-gray-1 {
    background-color: var(--gray-1-color);
}

.liked-ic {
    stroke: unset !important;
    fill: #ff4141;

    path {
        filter: drop-shadow(1px 1px 3px rgb(255 41 45 / 60%)) !important;
    }
}

.bookmarked-ic {
    stroke: unset !important;
    fill: #fbb117;

    path {
        filter: drop-shadow(1px 1px 3px rgb(255 41 45 / 60%)) !important;
    }
}

// Buttons
.btn {
    padding: 6px 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    display: inline-flex;
    flex-wrap: wrapf;
    align-items: center;
    justify-content: center;
    background-color: unset;
    box-shadow: var(--box-shadow);

    .btn-ic,
    svg {
        width: 20px;
        height: 20px;
        object-fit: cover;
        margin-right: 8px;
    }

    &.icon-only {
        >svg {
            margin-right: 0;
        }
    }

    &:hover {
        opacity: 0.8;
        cursor: pointer;
        transition: 0.05s;
    }

    &.non-hover:hover {
        opacity: unset;
        cursor: pointer;
        transition: unset;
    }
}

.btn-md {
    padding: 8px 18px !important;
    border-radius: 10px;
    min-width: 140px;
    font-size: 1.4rem;
}

.btn-lg {
    min-width: 180px;
    padding: 12px 30px !important;
    font-size: 1.4rem;
}

.btn-1 {
    border: 2px solid var(--black-2-color) !important;
    color: var(--black-1-color) !important;
}

.btn-2 {
    background-color: var(--black-4-color) !important;
    color: var(--white-1-color) !important;
}

.btn-3 {
    border: 2px solid var(--gray-2-color) !important;
    color: var(--black-2-color);

    &.active {
        font-weight: bold;
        border: 2px solid var(--black-3-color) !important;
    }
}

.btn-4 {
    background-color: var(--gray-4-color) !important;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--black-2-color);
}

.btn-5 {
    background-color: var(--red-2-color) !important;
    color: white;
}

.btn-6 {
    background-color: var(--orange-1-color) !important;
    color: white;
}

.show-emoji-btn {
    position: relative;

    .emoji-container {
        position: absolute;
        left: 0;
        top: calc(100% + 10px);
        border-radius: 8px;
        border: 2px solid var(--gray-2-color);
        background-color: white;
        padding: 8px 12px;
        width: 300px;

        .emoji-category-container {
            display: flex;
        }
    }
}

// Scroll
.scroll {
    position: relative;
    width: 100%;
    overflow: hidden;

    .scroll-container {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
    }

    .scroll-item {
        position: relative;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .scroll-container::-webkit-scrollbar {
        display: none;
    }

    .button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 4px;
        background-color: var(--gradient-btn-bg-color);
        font-weight: bold;
        color: white;
        border: none;
        padding: 12px;
        cursor: pointer;
        z-index: 1;
        display: none;
        border-radius: 8px;
    }

    .button-left {
        left: 0;
    }

    .button-right {
        right: 0;
    }

    .show {
        display: block;
    }

    .opacity {
        opacity: 0.7;
    }
}

// Commons
.hide {
    display: none !important;
}

.opacity-0 {
    opacity: 0;
}

hr {
    border: none;
    height: 1px;
    width: 100%;
    background-color: var(--gray-2-color);


    &.vertical-hr {
        height: 100%;
        width: 2px;
    }
}

.dot-delimiter {
    &.sm {
        width: 4px;
        height: 4px;
    }

    &.md {
        width: 6px;
        height: 6px;
    }

    display: flex;
    border-radius: 50%;
    background-color: var(--gray-5-color);
    margin: 0 5px;
}

.hover-el {
    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}

.hover-display-label {
    position: relative;
    z-index: 100;

    .label {
        position: absolute;
        top: -32px;
        left: 0;
        display: none;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 6px 8px;
        border-radius: 16px;
        min-width: 20px;
        color: var(--white-1-color);
        font-size: 1.1rem;
        min-width: 100px;
    }

    &:hover {
        .label {
            display: block;
        }
    }

}

// .overlay {
//     position: fixed;
//     top: 50%;
//     left: calc(50% - 1px);
//     background: rgba(0, 0, 0, 0.7);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     z-index: 1000;
//     transform: translate(-50%, -50%);
//     opacity: 1;
//     width: calc(100% + 4px);
//     height: calc(100% + 4px);
// }
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fadeIn 0.4s;
}

.overlay:has(.modal-form) {
    visibility: visible;
    opacity: 1;
}


.flex-justify-space-between {
    display: flex !important;
    justify-content: space-between !important;
}

.flex-justify-center {
    display: flex !important;
    justify-content: center !important;
}

.flex-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.flex-align-center {
    display: flex !important;
    // width: 100%;
    align-items: center !important;

    .bold-text {
        font-weight: 600;
    }

    .normal-text {
        color: var(--gray-2-color);
    }
}

.overlay-visible {
    animation: fadeInZoom 0.2s linear;
}

@keyframes fadeInZoom {
    0% {
        transform: translate(-50%, -50%) scale(0.95);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

// Tables
table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 8px;
    background-color: var(--form-bg-2-color);

    tr {
        border-bottom: 1px solid var(--gray-2-color);
        width: 100%;

        &:hover {
            background-color: var(--form-bg-1-color);
            cursor: pointer;
        }

        &.non-hover:hover {
            background-color: unset;
            opacity: 1;
            cursor: unset;
        }
    }


    th,
    td {
        text-align: start;
        min-width: 100px;
        max-width: 200px;
        padding: 6px 12px 6px 6px;
        font-size: 1.3rem;

        span {
            font-size: 1.3rem;
        }
    }

    th:last-child,
    td:last-child {
        max-width: unset;
    }

    button {
        margin-right: 8px;
        font-size: 1.2rem;

        &:last-of-type {
            margin-right: 0;
        }
    }

    thead {}

    tbody {
        tr:last-of-type {
            border-bottom: unset;
        }
    }
}


// Forms
.form-field {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &.required {
        .form-field__label {
            position: relative;

            &::after {
                content: "*";
                position: absolute;
                color: red;
                top: 0;
            }
        }


    }

    &.server-error-field {
        margin-bottom: 0;
    }

    &.with-create-btn {
        .form-field__input {
            width: 67%;
        }

        button {
            width: 30%;
        }
    }



    .form-field__label {
        width: 100%;
        display: inline-block;
        // display: flex;
        margin-bottom: 8px;
        color: var(--black-2-color);

        &:nth-of-type(1) {
            font-weight: 600;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .form-field__annotation {
        display: block;
        font-size: 1.3rem;
        text-align: unset !important;
        margin: 0;
        // font-style: italic;
        color: var(--gray-3-color);
        margin-bottom: 12px;
    }

    textarea {
        resize: none;
        min-height: 100px;
        overflow-y: clip;
        padding: 8px 10px;
        font-family: 'Inter';
    }

    .form-field__input {
        width: 100%;
        border-radius: 8px;
        padding: 8px 10px;
        border: 2px solid var(--gray-2-color);
        outline: none;
        background-color: var(--white-2-color);
        color: var(--black-2-color);
        color-scheme: var(--color-scheme);

        &:focus {
            border: 2px solid var(--black-2-color);
        }

        &.outline-border-none {
            &:focus {
                border: 2px solid var(--gray-2-color);
            }
        }

        &[type="submit"] {
            border: none;
            font-weight: bold;
            color: var(--white-1-color);
            background-color: var(--black-4-color);

            svg {
                stroke-width: 2;
            }
        }

        &.btn-md {
            padding: 10px 20px !important;
        }

        &.img-preview {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3px 6px 3px 3px;
            margin-bottom: 8px;

            .img-preview--left {
                display: flex;
                align-items: center;

                .img-preview__img {
                    width: 36px;
                    height: 36px;
                    object-fit: cover;
                    border-radius: 6px;
                    margin-right: 8px;
                }

                .img-preview__info {
                    font-size: 1.2rem;
                    display: flex;
                    flex-direction: column;

                    .img-preview__name {
                        font-weight: bold;
                    }

                    .img-preview__size {
                        font-weight: 500;
                    }
                }
            }

            .img-preview--right {
                svg {
                    &:hover {
                        opacity: 0.7;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .half-split {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;

        .form-field__label {}

        .form-field__input {
            width: 45%;
        }


        .form__submit-btn {
            width: 48%;
        }

    }

    .third-split {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;

        .form-field__label {}

        .form-field__input {
            width: 30%;
        }
    }

    .form-field__error {
        color: var(--red-1-color);
        font-size: 1.3rem;
        padding-top: 4px;
        display: block;
    }
}

.form-field.with-ic {
    margin-bottom: 8px;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    align-items: center;
    border: 2px solid var(--gray-2-color);
    border-radius: 8px;
    transition: border 0.1s;
    background-color: var(--white-2-color);

    &:has(.form-field__input:focus) {
        border: 2px solid var(--black-2-color);
    }

    .form-field__ic {
        width: 16px;
        height: 16px;
        object-fit: cover;
        margin-right: 8px;
    }


    .form-field__input {
        // width: unset;
        border: none;
        outline: none;
        // border-radius: unset;
        // padding: 8px 10px;

        &[type="submit"] {
            border: none;
        }
    }
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user--left {
        display: flex;
        align-items: center;
    }

    .user--right {
        font-size: 1.4rem;
    }

    .user__name__title,
    .user__name__sub-title {
        display: block;
    }

    &.xs {
        .user__avatar {
            width: 26px;
            height: 26px;
            border: 1px solid var(--white-2-color);
            box-shadow: unset;
        }

        .user__name__title {
            font-size: 1.4rem;
        }
    }

    &.sm {
        .user__avatar {
            width: 32px;
            height: 32px;
            border: 2px solid var(--white-2-color);
            box-shadow: unset;
        }

        .user__name__title {
            font-size: 1.4rem;
        }
    }

    &.md {
        .user__avatar {
            width: 40px;
            height: 40px;
            border: 3px solid var(--white-2-color);
        }

        .user__name__title {
            font-size: 1.6rem;
            font-weight: 600;
        }

        .user__name__sub-title {
            margin-top: 2px;
            font-size: 1.2rem;
        }
    }

    &.lg {
        .user__avatar {
            width: 60px;
            height: 60px;
            border: 3px solid var(--white-2-color);
        }

        .user__name__title {
            font-size: 1.6rem;
            font-weight: 600;
        }

        .user__name__sub-title {
            margin-top: 2px;
            font-size: 1.3rem;
        }
    }

    .user__name {
        margin-left: 8px;
    }

    .user__avatar {
        object-fit: cover;
        border-radius: 50%;
        box-shadow: var(--box-shadow-1);

        &:hover {
            cursor: pointer;
            opacity: 0.9;
            transition: 0.2s;
        }
    }
}

.section {
    .section-header {
        .section__title {
            color: var(--black-3-color);
        }
    }
}

.page {
    .page__title {
        font-size: 5rem;
        color: var(--black-3-color);
    }
}

.images-layout-1 {
    width: 100%;
    height: 300px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.images-layout-3 {
    columns: 2;
    column-gap: 4px;
    height: 280px;

    .image-item {
        position: relative;

        .lazy-load-image-background.blur.lazy-load-image-loaded {
            width: 100%;
            height: 100%;
        }

        &:first-child {
            height: 100%;

            img {
                border-radius: 8px 0 0 8px;
            }
        }

        &:nth-of-type(2) {
            height: calc(50% - 2px);
            margin-bottom: 4px;

            img {
                border-radius: 0 8px 0 0;
            }
        }


        &:nth-of-type(3) {
            height: calc(50% - 2px);

            img {
                border-radius: 0 0 8px 0;
            }
        }

        img {
            width: 100px;
            height: 100%;
            object-fit: cover;
            display: block;
            box-sizing: border-box;
            text-decoration: none;
            color: inherit;
            display: block;
            /* margin-top: 20px; */
            width: 100%;
        }
    }

    .image-item__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        display: block;
        text-align: center;
        line-height: 120px;
        font-size: 2rem;
        border-radius: 0 0 8px 0;
        color: white;
    }
}

// Animations
.clip-loader {
    border-color: var(--gray-2-color) var(--gray-3-color) var(--gray-2-color) var(--gray-2-color) !important;
    // border: 5px solid var(--gray-3-color);
    border-width: 6px !important;
    // color: red;
}

.skeleton-img {
    animation: skeleton-loading 1.5s linear infinite alternate;
    opacity: 0.7;
    position: relative;
}

@keyframes skeleton-loading {
    0% {
        opacity: 0.2;
        // background-color: HTMLSlotElement(200, 20%, 70%);
        // border: 4px solid rgb(151, 151, 151);
    }

    100% {
        opacity: 0.8;
        // background-color: HTMLSlotElement(200, 20%, 95%);
        // border: 4px solid white;    
    }
}

.spinner {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn-spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-top-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
}

/* animation.css */
@keyframes confetti {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.confetti-piece {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: red;
    /* You can change colors or use multiple colors */
    animation: confetti 5s linear infinite;
}

.confetti-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



// Modal form
.modal-form {
    .form__title {
        text-align: center;
    }

    .form__close-ic {
        stroke-width: 2.0;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }

    .form__note {
        background-color: var(--form-bg-2-color);
        padding: 12px 14px 14px;
        border-radius: 12px;
        box-shadow: var(--box-shadow-1);

        p {
            margin: 0;
        }
    }

    .modal-form--left {
        h2 {
            margin-bottom: 8px;
        }


        .line {
            display: inline-block;
            width: 40px;
            height: 3px;
            border-radius: 4px;
            transform: unset;
            background-color: white;
        }
    }

    .modal-form--right {
        .form__extra-text {
            text-align: center;

            .form__extra-text__link {
                color: var(--orange-2-color);

                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
        }
    }

    .modal-form__button-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
            margin-left: 8px;
        }
    }
}

.modal-form.type-1 {
    display: flex;
    justify-content: space-between;

    min-height: 80vh;

    width: 50%;
    margin-left: 50%;
    transform: translate(-50%);

    border-radius: 8px;
    border: var(--form-border);
    background-color: var(--form-bg-2-color);
    position: relative;

    .modal-form--left {
        width: 48%;
        position: relative;
        text-align: center;

        border-radius: 8px 0 0 8px;
        padding: 28px 40px;

        line-height: 2rem;
        color: white;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));

        .modal-form__img {
            position: absolute;
            z-index: -1;
            left: -1px;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px 0 0 8px;
            background: linear-gradient(to top, rgba(12, 12, 12, 0.7), rgba(0, 0, 0, 0));
        }

        .modal-form__img-reference {
            position: absolute;
            z-index: -1;
            left: 50%;
            transform: translateX(-50%);
            bottom: 40px;
            font-style: italic;
            z-index: 100;
        }
    }

    .modal-form--right {
        align-self: center;
        height: 100%;
        width: 52%;
        padding: 28px 44px;
        max-height: 80vh;

        .form__close-ic {
            position: absolute;
            width: 24px;
            height: 24px;
            object-fit: cover;
            top: 28px;
            right: 52px;
        }
    }

    p {
        text-align: center;
    }
}

.border-1px-solid-gray {
    border: 1px solid var(--gray-3-color);
    border-radius: 8px;
    padding: 8px 12px;
    width: 100%;
}

.modal-form {
    .form__submit-btn-container {
        display: flex;
        bottom: 12px;
        right: 20px;

        &.half-split {
            justify-content: space-between;

            .form__submit-btn-item {
                width: 47%;
            }
        }
    }
}

.modal-form.type-2 {
    width: 70% !important;
    margin-left: 0 !important;
    transform: unset;

    background-color: var(--form-bg-1-color);
    max-height: 90vh;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    padding: 42px 22px 58px;
    position: relative;

    .form__close-ic {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .form__help {
        position: absolute;
        top: 10px;
        right: 56px;
        display: flex;
        align-items: center;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }

        .form__help-ic {
            margin-left: 8px;
            width: 20px;
            height: 20px;
            object-fit: cover;
        }
    }

    .modal-form--left {
        width: 42%;
        padding: 12px 44px 12px 24px;

    }

    .modal-form--right {
        width: 58%;
        background-color: var(--form-bg-2-color);
        padding: 24px 40px;
        border-radius: 16px;
        border: var(--form-border);
        box-shadow: var(--box-shadow-1);

        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #c4c2c2 #fff;

        .form-field {
            margin-bottom: 24px;
        }
    }




    .checkbox-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 16px;
    }
}

.modal-form.type-3 {
    // min-width: 40%;
    background-color: var(--form-bg-2-color);
    padding: 20px 40px 40px;
    position: relative;
    border-radius: 12px;
    min-width: 30%;
    max-height: 80vh;
    overflow: auto;

    &.sm {
        width: 35% !important;
    }

    table {
        margin-top: 28px;
    }

    .form__close-ic {
        position: absolute;
        right: 30px;
        top: 30px;
    }
}

.modal-form__box {
    background-color: var(--black-5-color);
    padding: 12px !important;
    border-radius: 8px;
}

// Scroll bar
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 16px;
}

::-webkit-scrollbar-button

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
    height: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    height: 16px;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.modal-form.type-2 .modal-form--right {
    scrollbar-color: inherit !important;
    scrollbar-width: inherit !important;
}

// References
.reference-container {
    display: flex;
    flex-wrap: wrap;

    .reference-item {
        position: relative;
        margin-bottom: 12px;
        margin-right: 12px;

        img {
            display: block;
            width: 100px;
            height: 100px;
            border-radius: 8px;
            object-fit: cover;
        }

        &:nth-of-type(3n) {
            img {
                margin-right: 0;
            }
        }

        .reference-item__overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            top: 0;
            left: 0;
            display: block;
            text-align: center;
            line-height: 120px;
            font-size: 2rem;
            border-radius: 8px;
            color: white;
        }
    }
}

// Paddings
.p-4 {
    padding: 4px;
}

.p-8 {
    padding: 8px;
}

.pt-8 {
    padding-top: 8px;
}

.pr-8 {
    padding-right: 8px;
}

.pb-8 {
    padding-bottom: 8px;
}

.pl-8 {
    padding-left: 8px;
}

.pt-12 {
    padding-top: 12px;
}

.pr-12 {
    padding-right: 12px;
}

.pb-12 {
    padding-bottom: 12px;
}

.pl-12 {
    padding-left: 12px;
}

.pt-16 {
    padding-top: 16px;
}

.pr-16 {
    padding-right: 16px;
}

.pb-16 {
    padding-bottom: 16px;
}

.pl-16 {
    padding-left: 16px;
}

.pt-20 {
    padding-top: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-20 {
    padding-left: 20px;
}



// Margins
.mr-4 {
    margin-right: 4px;
}

.ml-4 {
    margin-left: 4px;
}

.mt-4 {
    margin-top: 4px;
}

.mb-4 {
    margin-bottom: 4px;
}

.mr-8 {
    margin-right: 8px;
}

.ml-8 {
    margin-left: 8px;
}

.mt-8 {
    margin-top: 8px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mr-12 {
    margin-right: 12px;
}

.ml-12 {
    margin-left: 12px;
}

.mt-12 {
    margin-top: 12px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mr-16 {
    margin-right: 16px;
}

.ml-16 {
    margin-left: 16px;
}

.mt-16 {
    margin-top: 16px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mr-32 {
    margin-right: 32px;
}

.ml-32 {
    margin-left: 32px;
}

.mt-32 {
    margin-top: 32px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mr-40 {
    margin-right: 40px;
}

.ml-40 {
    margin-left: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

// Borders
.br-4 {
    border-radius: 4px;
}

.br-8 {
    border-radius: 8px;
}

.br-12 {
    border-radius: 12px;
}

.br-16 {
    border-radius: 16px;
}

.br-20 {
    border-radius: 20px;
}

.br-24 {
    border-radius: 24px;
}

.br-28 {
    border-radius: 28px;
}

.br-32 {
    border-radius: 32px;
}



.confetti-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

.confetti-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

// RESPONSIVE
/* PC styles (>= 1024px) */
@media only screen and (min-width: 1024px) {
    .desktop-hide {
        display: none !important;
    }

}

/* Tablet styles (740px to 1023px) */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .tablet-hide {
        display: none !important;
    }

    html {
        // font-size: 62.5%;
        line-height: 1.6rem;
    }

    .app {
        margin: 60px 2.5% 40px !important;
    }

    .sub-nav-container {
        padding-top: 10px;
    }

    body {}

}

/* Mobile styles (<= 739px) */
@media only screen and (max-width: 739px) {
    .mobile-hide {
        display: none !important;
    }

    html {
        font-size: 55.5%;
    }
}