@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    // Light theme colors
    --black-1-color: #2a2b2c;
    --black-2-color: #262626;
    --black-3-color: #191919;
    --black-4-color: #212121;
    --black-5-color: #212121;

    --gray-1-color: #eeeeee;
    --gray-2-color: #d8d7d7;
    --gray-3-color: #4D4D4D;
    --gray-4-color: #d8d7d7;

    --red-1-color: #ff3e3e;
    --red-2-color: #e45454;

    --orange-1-color: #ff9c65;
    --orange-2-color: #FF6E1C;

    --white-1-color: white;
    --white-2-color: white;
    --white-3-color: white;
    --white-4-color: white;

    --box-shadow-1: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    --box-shadow-2: 0 2px 5px rgb(114 114 114 / 20%);
    --form-border: unset;
    --form-bg-1-color: #F7F7F7;
    --form-bg-2-color: white;
    --form-bg-3-color: #F7F7F7;

    --gradient-btn-bg-color: rgba(0, 0, 0, 0.6);
    --color-scheme: light;

    --pending-status-bg-color: #ffe8d4;
    --pending-status-color: #f68038;

    --rejected-status-bg-color: #ffe8d4;
    --rejected-status-color: #f68038;

    --approved-status-bg-color: #e4f7db;
    --approved-status-color: #82c011;
}

body.dark {
    transition: 0s linear;
    // Light theme colors
    --black-1-color: #dddddd;
    --black-2-color: #a8a8a8;
    --black-3-color: rgb(187, 183, 183);
    --black-4-color: #501dd2;
    --black-5-color: #212121;

    --gray-1-color: #2a2b2c;
    --gray-2-color: #2a2b2c;
    --gray-3-color: #868181;
    --gray-4-color: #868181;

    --orange-2-color: #ffa471;

    --white-1-color: rgb(224, 220, 220);
    --white-2-color: #292929;
    --white-3-color: #0b0b0b;
    --white-4-color: white;

    --box-shadow: rgba(99, 99, 99, 0) 0px 2px 8px;
    --box-shadow-2:  0 2px 5px rgb(40 40 40 / 20%)
    --form-border: unset;
    --gradient-btn-bg-color: rgba(255, 255, 255, 0.6);

    --red-1-color: #ff6a6a;
    --color-scheme: dark;
    --form-bg-1-color: #0e0e0e;
    --form-bg-2-color: #161616;
    --form-bg-3-color: #272727;

    --pending-status-bg-color: #ffe8d4;
    --pending-status-color: #f68038;

    --rejected-status-bg-color: #ffe8d4;
    --rejected-status-color: #f68038;

    --approved-status-bg-color: #e4f7db;
    --approved-status-color: #82c011;
    // svg {
    //     stroke: var(--gray-3-color);
    //     stroke-width: 2px;

    //     .filled-svg {
    //         stroke: unset;
    //         stroke-width: unset;
    //     }
    // }
}



* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

svg {
    // fill: var(--black-2-color);
    width: 22px;
    height: 22px;
    margin-right: 8px;
    object-fit: cover;

    &.icon-only {
        margin-right: 0;
    }
}

body {
    margin: 0;
    scroll-behavior: smooth;
    text-overflow: ellipsis;
    width: 100%;
    // overflow-y: hidden;
    height: 50000px;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: var(--white-3-color);
    // transition: 0.2s linear;
    color: var(--black-3-color);

    &:has(.overlay ) {
        overflow: hidden;
    }
}

#root {
    position: relative;
}

.app {
    margin: 72px 4% 0 !important;

    &.with-sidebar {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }

}

::selection {
    // color: white;
    // background: #c661ff;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

ol li {}

a {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--black-2-color);
}

// Headings & Texts
h1 {
    font-size: 2.6rem;
    line-height: 4.6rem;
}

h2 {
    font-size: 2.2rem;
    line-height: 3.2rem;
    margin: 8px 0;
}

h3 {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin: 12px 0;
}

h4 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    margin: 8px 0;
}

p {
    font-size: 1.4rem;
    line-height: 2rem;
    width: 100%;
}

.highlight-text {
    color: var(--orange-2-color);

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.normal-text {}

.border-text {
    padding: 12px 20px;
    border-radius: 16px;
    box-shadow: var(--box-shadow-1);
}

.mb-8 {
    margin-bottom: 8px;
}

.text-align-center {
    text-align: center;
}

.status {
    padding: 8px 12px;
    border-radius: 8px;

    &.pending {
        background-color: var(--pending-status-bg-color);
        color: var(--pending-status-color);
    }

    &.rejected {
        background-color: var(--rejected-status-bg-color);
        color: var(--rejected-status-color);
    }

    &.approved {
        background-color: var(--approved-status-bg-color);
        color: var(--approved-status-color);
    }
}

// Navigation bar
.sub-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    .sub-nav-item {
        margin-right: 20px;
        font-size: 1.5rem;
        padding: 4px 8px 6px 0;

        &.active {
            position: relative;
            font-weight: bold;

            svg {
                stroke-width: 2;
            }

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 4px;
                background-color: var(--black-2-color);
                bottom: -12px;
                left: 0;
            }
        }
    }
}

// Buttons
.btn {
    padding: 6px 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: unset;
    box-shadow: var(--box-shadow);

    .btn-ic,
    svg {
        width: 20px;
        height: 20px;
        object-fit: cover;
        margin-right: 8px;
    }

    &.icon-only {
        svg {
            margin-right: 0;
        }
    }

    &:hover {
        opacity: 0.8;
        cursor: pointer;
        transition: 0.05s;
    }
}

.btn-md {
    padding: 8px 18px !important;
    border-radius: 10px;
    min-width: 140px;
    font-size: 1.4rem;
}

.btn-lg {
    min-width: 180px;
    padding: 12px 30px !important;
    font-size: 1.4rem;
}

.btn-1 {
    border: 2px solid var(--black-2-color) !important;
    color: var(--black-1-color) !important;
}

.btn-2 {
    background-color: var(--black-4-color) !important;
    color: var(--white-1-color) !important;
}

.btn-3 {
    border: 2px solid var(--gray-2-color) !important;
    color: var(--black-2-color) !important;

    &.active {
        font-weight: bold;
        border: 2px solid var(--black-3-color) !important;
    }
}

.btn-4 {
    // border: 2px solid var(--gray-1-color);
    background-color: var(--gray-4-color) !important;
}

.btn-5 {
    background-color: var(--red-2-color) !important;
    color: white;
}

.btn-6 {
    background-color: var(--orange-1-color) !important;
    color: white;
}

// Scroll
.scroll {
    position: relative;
    width: 100%;
    overflow: hidden;

    .scroll-container {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
    }

    .scroll-item {

        position: relative;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .scroll-container::-webkit-scrollbar {
        display: none;
    }

    .button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 4px;
        background-color: var(--gradient-btn-bg-color);
        font-weight: bold;
        color: white;
        border: none;
        padding: 12px;
        cursor: pointer;
        z-index: 1;
        display: none;
    }

    .button-left {
        left: 10px;
    }

    .button-right {
        right: 10px;
    }

    .show {
        display: block;
    }

    .opacity {
        opacity: 0.7;
    }
}

// Commons
.hide {
    display: none;
}

hr {
    border: none;
    height: 1px;
    width: 100%;
    background-color: var(--gray-2-color);
}

.dot-delimiter {
    margin: 0 5px;
}

.hover-el {
    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}

.overlay {
    position: fixed;
    top: 50%;
    left: calc(50% - 1px);
    background: rgba(0, 0, 0, 0.7);
    // backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: all 0.8s ease-in-out;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-align-center {
    display: flex;
    width: 100%;
    align-items: center;

    .bold-text {
        font-weight: 600;
    }

    .normal-text {
        color: var(--gray-2-color);
    }
}

.overlay-visible {
    animation: fadeInZoom 0.2s linear;
}

@keyframes fadeInZoom {
    0% {
        transform: translate(-50%, -50%) scale(0.95);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

// Tables
table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 8px;

    tr {
        border-bottom: 2px solid var(--gray-2-color);
        width: 100%;
    }


    th,
    td {
        text-align: start;
        min-width: 100px;
        padding: 6px 12px 6px 6px;
        font-size: 1.3rem;
    }

    button {
        margin-right: 8px;

        &:last-of-type {
            margin-right: 0;
        }

    }

    thead {}

    tbody {
        tr:last-of-type {
            border-bottom: unset;
        }
    }
}


// Forms
.form-field {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &.server-error-field {
        margin-bottom: 0;
    }

    &.with-create-btn {
        .form-field__input {
            width: 67%;
        }

        button {
            width: 30%;
        }
    }

    .half-split {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;

        .form-field__input {
            width: 45%;
        }


        .form__submit-btn {
            width: 48%;
        }

    }

    .form-field__label {
        width: 100%;
        display: flex;
        margin-bottom: 8px;
        color: var(--black-2-color);

        &:nth-of-type(1) {
            font-weight: 600;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .form-field__annotation {
        display: block;
        font-size: 1.3rem;
        // font-style: italic;
        color: var(--gray-3-color);
        margin-bottom: 12px;
    }

    textarea {
        resize: none;
        min-height: 100px;
        overflow-y: clip;
        padding: 8px 10px;
        font-family: 'Inter';
    }

    .form-field__input {
        width: 100%;
        border-radius: 8px;
        padding: 8px 10px;
        border: 2px solid var(--gray-2-color);
        outline: none;
        background-color: var(--white-2-color);
        color: var(--black-2-color);
        color-scheme: var(--color-scheme);

        &:focus {
            border: 2px solid var(--black-2-color);
        }

        &[type="submit"] {
            border: none;
            font-weight: bold;
            color: var(--white-1-color);
            background-color: var(--black-4-color);

            svg {
                stroke-width: 2;
            }
        }

        &.btn-md {
            padding: 10px 20px !important;
        }

        &.img-preview {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3px 6px 3px 3px;
            margin-bottom: 8px;

            .img-preview--left {
                display: flex;
                align-items: center;

                .img-preview__img {
                    width: 36px;
                    height: 36px;
                    object-fit: cover;
                    border-radius: 6px;
                    margin-right: 8px;
                }

                .img-preview__info {
                    font-size: 1.2rem;
                    display: flex;
                    flex-direction: column;

                    .img-preview__name {
                        font-weight: bold;
                    }

                    .img-preview__size {
                        font-weight: 500;
                    }
                }
            }

            .img-preview--right {
                svg {
                    &:hover {
                        opacity: 0.7;
                        cursor: pointer;
                    }
                }
            }

        }
    }

    .form-field__error {
        color: var(--red-1-color);
        font-size: 1.3rem;
        padding-top: 4px;
        display: block;
    }
}

.form-field.with-ic {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 2px solid var(--gray-2-color);
    border-radius: 8px;
    padding: 8px 10px;
    transition: border 0.1s;
    background-color: var(--white-2-color);

    &:has(.form-field__input:focus) {
        border: 2px solid var(--black-2-color);
    }

    .form-field__ic {
        width: 16px;
        height: 16px;
        object-fit: cover;
        margin-right: 8px;
    }

    .form-field__input {
        width: unset;
        border: none;
        outline: none;
        padding: unset;
        border-radius: unset;

        &[type="submit"] {
            border: none;
        }
    }
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user--left {
        display: flex;
        align-items: center;
    }

    .user--right {
        font-size: 1.4rem;
    }

    &.sm {
        .user__avatar {
            width: 32px;
            height: 32px;
            border: 2px solid var(--white-2-color);
            box-shadow: unset;
        }

        .user__name__title {
            font-size: 1.4rem;
        }
    }

    &.md {
        .user__avatar {
            width: 40px;
            height: 40px;
            border: 3px solid var(--white-2-color);
        }



        .user__name__title {
            font-size: 1.6rem;
            font-weight: 600;
        }

        .user__name__sub-title {
            font-size: 1.2rem;
        }
    }

    .user__name {
        margin-left: 8px;
    }

    .user__avatar {
        object-fit: cover;
        border-radius: 50%;
        box-shadow: var(--box-shadow-1);

        &:hover {
            cursor: pointer;
            opacity: 0.9;
            transition: 0.2s;
        }
    }
}

.section {
    .section-header {
        .section__title {
            color: var(--black-3-color);
        }
    }
}

.page {
    .page__title {
        font-size: 5rem;
        color: var(--black-3-color);
    }
}

.images-layout-1 {
    width: 100%;
    height: 300px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.images-layout-3 {
    columns: 2;
    column-gap: 4px;
    height: 300px;

    img {
        width: 100px;
        height: calc(50% - 2px);
        object-fit: cover;
        display: block;
        box-sizing: border-box;
        text-decoration: none;
        color: inherit;
        display: block;
        /* margin-top: 20px; */
        width: 100%;

        &:first-child {
            height: 100%;
            border-radius: 8px 0 0 8px;
        }

        &:nth-of-type(2) {
            margin-bottom: 4px;
            border-radius: 0 8px 0 0;
        }


        &:nth-of-type(3) {
            border-radius: 0 0 8px 0;
        }
    }
}

// Animations
.skeleton-img {
    animation: skeleton-loading 1.5s linear infinite alternate;
    opacity: 0.7;
    position: relative;
}

@keyframes skeleton-loading {
    0% {
        opacity: 0.2;
        // background-color: HTMLSlotElement(200, 20%, 70%);
        // border: 4px solid rgb(151, 151, 151);
    }

    100% {
        opacity: 0.8;
        // background-color: HTMLSlotElement(200, 20%, 95%);
        // border: 4px solid white;    
    }
}

.spinner {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn-spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-top-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
}

/* animation.css */
@keyframes confetti {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.confetti-piece {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: red;
    /* You can change colors or use multiple colors */
    animation: confetti 5s linear infinite;
}

.confetti-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



// Modal form
.modal-form {
    .form__title {
        text-align: center;
    }

    .form__close-ic {
        stroke-width: 2.0;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }

    .form__note {
        background-color: var(--form-bg-2-color);
        padding: 12px 14px 14px;
        border-radius: 12px;
        box-shadow: var(--box-shadow-1);

        p {
            margin: 0;
        }
    }

    .modal-form--left {
        h2 {
            margin-bottom: 8px;
        }


        .line {
            display: inline-block;
            width: 40px;
            height: 3px;
            border-radius: 4px;
            transform: unset;
            background-color: white;
        }
    }

    .modal-form--right {
        .form__extra-text {
            text-align: center;

            .form__extra-text__link {
                color: var(--orange-2-color);

                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
        }
    }

    .modal-form__button-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
            margin-left: 8px;
        }
    }
}

.modal-form.type-1 {
    display: flex;
    justify-content: space-between;

    min-height: 70vh;
    max-height: 80vh;

    width: 50%;
    margin-left: 50%;
    transform: translate(-50%);

    border-radius: 8px;
    border: var(--form-border);
    background-color: var(--white-3-color);
    position: relative;

    .modal-form--left {
        width: 48%;
        position: relative;
        text-align: center;

        border-radius: 12px 0 0 12px;
        padding: 28px 40px;

        line-height: 2rem;
        color: white;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));

        .modal-form__img {
            position: absolute;
            z-index: -1;
            left: -1px;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px 0 0 12px;
            background: linear-gradient(to top, rgba(12, 12, 12, 0.7), rgba(0, 0, 0, 0));
        }

        .modal-form__img-reference {
            position: absolute;
            z-index: -1;
            left: 50%;
            transform: translateX(-50%);
            bottom: 40px;
            font-style: italic;
            z-index: 100;
        }
    }

    .modal-form--right {
        align-self: center;
        padding: 28px 52px;
        height: 100%;
        width: 52%;
        padding: 28px 52px;
        max-height: 80vh;

        .form__close-ic {
            position: absolute;
            width: 24px;
            height: 24px;
            object-fit: cover;
            top: 28px;
            right: 52px;
        }
    }

    p {
        text-align: center;
    }
}

.modal-form.type-2 {
    width: 70% !important;
    margin-left: 0 !important;
    transform: unset;

    background-color: var(--form-bg-1-color);
    max-height: 90vh;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    padding: 42px 22px 58px;
    position: relative;

    .form__close-ic {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .form__help {
        position: absolute;
        top: 10px;
        right: 56px;
        display: flex;
        align-items: center;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }

        .form__help-ic {
            margin-left: 8px;
            width: 20px;
            height: 20px;
            object-fit: cover;
        }
    }

    .modal-form--left {
        width: 42%;
        padding: 12px 44px 12px 24px;

    }

    .modal-form--right {
        width: 58%;
        background-color: var(--form-bg-2-color);
        padding: 24px 40px;
        border-radius: 16px;
        border: var(--form-border);
        box-shadow: var(--box-shadow-1);

        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #c4c2c2 #fff;

        .form-field {
            margin-bottom: 24px;
        }
    }

    .form__submit-btn {
        position: absolute;
        bottom: 12px;
        right: 20px;
    }

    .checkbox-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 16px;
    }
}

.modal-form.type-3 {
    // min-width: 40%;
    background-color: var(--form-bg-2-color);
    padding: 42px 40px;
    position: relative;
    border-radius: 12px;
    min-width: 30%;
    max-height: 80vh;
    overflow: auto;

    &.sm {
        width: 35% !important;
    }

    table {
        margin-top: 28px;
    }

    .form__close-ic {
        position: absolute;
        right: 30px;
        top: 30px;
    }
}

.modal-form__box {
    background-color: var(--black-5-color);
    padding: 12px !important;
    border-radius: 8px;
}

// Scroll bar
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 16px;
}

::-webkit-scrollbar-button

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
    height: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    height: 16px;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.modal-form.type-2 .modal-form--right {
    scrollbar-color: inherit !important;
    scrollbar-width: inherit !important;
}