.makeStyles-container-1 {
    margin-left: 16px;
    background-color: unset !important;
    color: #000;
    height: auto;
    outline: none;
    padding: unset !important;
    max-width: unset;
    min-width: unset;

    svg {
        width: 32px !important;
        height: 32px !important;
        margin-right: 4px !important;
    }

    .makeStyles-copyContainer-5 {
        display: none;
    }
}