.dropdown-navbar-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    top: calc(100% + 8px);
    right: -20px;
    min-width: 280px;
    border: 1px solid var(--form-field-border-light);
    padding: 18px 24px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .dropdown-navbar-container__fullname {
        font-size: 1.6rem;
        line-height: 2.2rem;
        padding: 0 8px;
    }

    .dropdown-navbar-container__email {
        opacity: 0.7;
        padding: 0 8px;
    }

    .dropdown-navbar-item {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 8px;

        .dropdown-navbar-item__ic {
            width: 20px;
            height: 20px;
            object-fit: cover;
            margin-right: 8px;
        }

        &:hover {
            opacity: 0.8;
            cursor: pointer;
            background-color: var(--form-field-border-light);
            border-radius: 8px;
        }
    }

    .dropdown-navbar-item:last-child {
        &:hover {
            opacity: 1;
            background-color: var(--black-text-color-light);
            color: white;
        }
    }
}