.profile-layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .sidebar {
        width: 28%;
    }

    .outlet-content {
        width: 69%;

        .profile {
            .profile__bg {
                position: relative;

                .profile__bg__img {
                    width: 100%;
                    height: 220px;
                    object-fit: cover;
                    border-radius: 8px;
                }

                .profile__bg__edit-btn {
                    position: absolute;
                    right: 12px;
                    bottom: 12px;
                    font-size: 1.3rem;
                    font-weight: 500;
                    padding: 8px 16px;
                    background-color: rgba(0, 0, 0, 0.7);
                    transition: 0.2s linear;
                    color: white;
                    display: flex;
                    align-items: center;

                    &:hover {
                        // background-color: rgba(0, 0, 0, 0.9);
                        opacity: 0.7;
                        cursor: pointer;
                    }

                    .profile__bg__ic {}
                }

            }
        }


    }

    .sub-nav-container {
        .sub-nav-container--left {}

        .sub-nav-container--right {}


    }


    .form-field.with-ic {
        position: relative;

        .form-field__ic.delete-ic {
            position: absolute;
            right: 0;
            opacity: 0;
            transition: 0.2s;
            cursor: pointer;
        }

        &:hover {
            .form-field__ic.delete-ic {
                right: 0;
                opacity: 1;
            }
        }

        &.add-link-btn {
            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
        }
    }


    .profile-page__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;

        .profile-page__header--left {
            display: flex;
            align-items: center;
            width: 70%;

            &.full {
                width: 100%;
            }

            .btn {
                margin-right: 10px;
                border-radius: 20px;
                min-width: unset !important;
                display: inline-block;
                white-space: nowrap;
                padding: 8px 20px;
                font-size: 1.3rem;
            }

            .view-review-btn {
                min-width: 150px;
            }
        }

        .profile-page__header--right {
            .btn {
                min-width: 120px;
                margin-left: 12px;
            }


        }


    }
}


// RESPONSIVE
/* PC styles (>= 1024px) */
@media only screen and (min-width: 1024px) {

    /* Add your PC-specific styles here */
}

@media only screen and (max-width: 1023px) {
    // .navbar {

    //     .navbar__search-field {}
    // }

    // .app.with-sidebar {
    //     margin: 0 !important;

    //     .sidebar {
    //         margin: 0 !important;
    //     }
    // }
}

/* Tablet styles (740px to 1023px) */
@media only screen and (min-width: 740px) and (max-width: 1023px) {

    .app.with-sidebar {
        .sidebar {
            width: 36%;
        }

        .outlet-content {
            width: 60%;

            .profile .profile__bg .profile__bg__img {
                height: 150px;

            }
        }
    }

    .profile-page__header .profile-page__header--left {

        .view-review-btn {}

        .btn {
            min-width: 100px;
            padding: 6px 12px;
        }
    }

    .profile-page__header {
        margin: 12px 0;
    }
}

/* Mobile styles (<= 739px) */
@media only screen and (max-width: 739px) {
    .app:has(.sidebar) {
        margin: 50px 16px 20px 16px !important;
    }

    .profile-layout {
        flex-wrap: wrap;

        .profile-page__header {
            .profile-page__header--left {
                width: 100%;
            }
        }

        .outlet-content {
            width: 100%;
        }
    }

    // body {}
}