.sidebar {
    border: 2px solid var(--gray-1-color);
    border-radius: 12px;
    text-align: center;
    padding: 44px 56px;

    .sidebar__avatar {
        margin-left: 50%;
        transform: translate(-50%);
        position: relative;
        width: 140px;
        height: 140px;



        .sidebar__avatar__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: 4px solid white;
            box-shadow: rgba(51, 51, 51, 0.2) 0px 2px 8px;

            &.loading-spinner {
                // border: 8px solid rgba(0, 0, 0, 0.1);
                // border-left-color: #726FFF;
                // border-radius: 50%;
                // width: 140px;
                // height: 140px;
                // animation: spin 1s linear infinite;
                // margin: 20px auto;
                // z-index: 1000;
            }

            // @keyframes spin {
            //     0% {
            //         transform: rotate(0deg);
            //     }

            //     100% {
            //         transform: rotate(360deg);
            //     }
            // }
        }

        .sidebar__avatar__ic {
            color: var(--black-color);
            position: absolute;
            background-color: white;
            bottom: 8px;
            right: 8px;
            width: 28px;
            height: 28px;
            object-fit: cover;
            border-radius: 50%;
            border: 4px solid white;
            box-shadow: rgba(51, 51, 51, 0.2) 0px 2px 8px;

            &:hover {
                opacity: 0.9;
                cursor: pointer;
            }
        }
    }

    .sidebar__section {
        text-align: start;
        margin-bottom: 32px;
        p {
            margin: 0;
        }

        .sidebar__section__title {
            font-weight: 600;
        }
    }

    .sidebar__socials {
        .sidebar__socials__link-container {
            .sidebar__socials__link-item {
                display: flex;
                align-items: center;
                svg {
                    margin-right: 8px;
                }
                margin-bottom: 12px;
            }
        }
    }

    .sidebar__name {
        margin-bottom: 20px;

        .sidebar__name__fullName {
            margin-bottom: 6px;
            font-weight: bold;
            font-size: 1.6rem;
            color: var(--black-3-color);
        }

        .sidebar__name__email {
            color: var(--black-2-color);
        }
    }

    .sidebar__job-title {

    }

    .sidebar__location {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6px;
        svg {
            margin-right: 6px;
        }
    }

    .sidebar__follow {
        margin-bottom: 20px;
    }

    .sidebar__btn {
        margin-top: 12px;
        width: 100%;
        font-weight: 600;
        // padding: 8px 10px;

        svg {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            object-fit: cover;
        }
    }

    .edit-profile-form {
        text-align: start;
        margin-top: 32px;
    }
}