.sidebar {
    border: 2px solid var(--gray-1-color);
    border-radius: 12px;
    text-align: center;
    padding: 32px 56px;

    .sidebar__avatar {
        margin-left: 50%;
        transform: translate(-50%);
        position: relative;
        width: 140px;
        height: 140px;

        .sidebar__avatar__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: 4px solid white;
            box-shadow: rgba(51, 51, 51, 0.2) 0px 2px 8px;
        }

        .sidebar__avatar__ic {
            position: absolute;
            background-color: white;
            bottom: 8px;
            right: 8px;
            width: 28px;
            height: 28px;
            object-fit: cover;
            border-radius: 50%;
            border: 4px solid white;
            box-shadow: rgba(51, 51, 51, 0.2) 0px 2px 8px;
        }
    }
   

    .sidebar__name {
        margin-bottom: 20px;
        .sidebar__name__fullname {
            margin-bottom: 12px;
            color: var(--black-3-color);
        }

        .sidebar__name__email {
            color: var(--black-2-color);
        }
    }

    .sidebar__follow {
        margin-bottom: 20px;
    }

    .sidebar__btn {
        margin-top: 12px;
        width: 100%;
        font-weight: 600;
        // padding: 8px 10px;

        svg {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            object-fit: cover;
        }
    }

    .edit-profile-form {
        text-align: start;
    }
}