.commission-reviews {
    width: 45%;

    svg {
        fill: var(--orange-2-color);
    }

    .rating-container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .rating-item {
            display: flex;
            align-items: center;
            margin-right: 8px;

            svg {
                width: 16px;
                height: 16px;
                object-fit: cover;
                margin: 0 6px 2px 4px;
            }
        }
    }

    .commission-review-container {

        .commission-review-item {
            border: 2px solid var(--gray-1-color);
            border-radius: 16px;
            width: 100%;
            padding: 16px 20px;
            margin-bottom: 20px;

            .commission-review-item__rating {
               

                .not-filled {
                    fill: var(--gray-2-color);
                }
            }
        }
    }


}