.commission-market {
    .commission-market__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .page__title {
            margin: 0;
        }

        hr {
            width: 60px;
            height: 6px;
            border-radius: 6px;
            background-color: var(--black-2-color);
            margin: 20px 0;
        }

        .commission-market__header--left {
            width: 45%;
        }

        .commission-market__header--right {
            width: 40%;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }

    .create-commission-order {
        font-size: 1.6rem;
        font-weight: bold;

        svg {
            width: 24px;
            height: 24px;
            color: white !important;
            stroke: white !important;
            fill: white !important;
        }
    }

    .commission-market__collation {
        margin-top: 60px;
    }

    .commission-market-container {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        // row-gap: 32px;
        // column-gap: 20px;



        .my-masonry-grid_column {
            width: 32.5% !important;
            margin-right: 1.25%;

            &:nth-of-type(3n) {
                margin-right: 0 !important;
            }

            .commission-market-item {
                margin-top: 24px;
                background-color: var(--form-bg-2-color);
                border-radius: 16px;
                padding: 18px;
                box-shadow: var(--box-shadow-1);

                &:hover {
                    opacity: 0.9;
                    cursor: pointer;
                }



                .commission-market-item__header {
                    .commission-market-item__header--left {}

                    .commission-market-item__header--right {}

                }

                .commission-market-item__content {
                    position: relative;

                    h2 {
                        font-weight: 500;
                    }

                    h3 {
                        margin: 12px 0;
                    }

                    h4 {
                        margin: 0;
                    }

                    p {
                        text-align: justify;
                    }
                }
            }


        }

    }
}

// RESPONSIVE
/* PC styles (>= 1024px) */
@media only screen and (min-width: 1024px) {}

/* Tablet styles (740px to 1023px) */
@media only screen and (min-width: 740px) and (max-width: 1023px) {}

/* Mobile styles (<= 739px) */
@media only screen and (max-width: 739px) {
    .commission-market {
        margin-top: 66px;

        .commission-market__header {
            flex-wrap: wrap;

            .page__title {
                font-size: 4rem;
            }

            h3 {
                font-size: 1.8rem;
            }

            p {
                font-size: 1.6rem;
            }

            .commission-market__header--left {
                width: 100%;
            }

            .commission-market__header--right {
                display: none;
            }
        }

        .commission-market-container {
            .my-masonry-grid_column {
                width: 100% !important;
            }
        }
    }
}