.render-commission-services {
    .my-masonry-grid_column {
        padding-left: 20px;
        /* gutter size */
        background-clip: padding-box;
    }

    .my-masonry-grid {
        display: flex;
        margin-left: -16px;
        /* gutter size offset */
        width: auto;

        &.layout-4 {
            .my-masonry-grid_column {

                padding-left: 0;
            }
        }
    }



    .images-layout-3 {
        height: 220px;
    }

    .commission-service-container {
        .commission-service-item {
            margin-bottom: 28px;
            padding: 12px;
            border-radius: 8px;
            display: block;
            position: relative;

            .commission-service-item__image-container {
                .image-item {
                    width: 100%;

                    .lazy-load-image-loaded {
                        width: 100%;
                    }

                    &:nth-of-type(1) {
                        // width: 100%;
                        height: 220px;
                    }

                    &:nth-of-type(2),
                    &:nth-of-type(3) {
                        height: 108px;
                    }

                    img {
                        width: 100%;
                        // height: 100px !important;
                    }
                }
            }

            .commission-service-item__status {
                position: absolute;
                padding: 6px 12px;
                border-radius: 12px;
                z-index: 1;
                top: 20px;
                left: 20px;


                &.closed {}

                &.open {
                    background-image: linear-gradient(45deg, #09b987, #69d5cc);
                    color: white;
                    box-shadow: rgb(152 255 221 / 80%) 0px 1px 6px;
                }
            }

            .commission-service-item__bookmark-btn {
                position: absolute;
                top: 12px;
                right: 24px;
                background-color: white;
                z-index: 1;
                padding: 24px 8px 4px 8px;
                border-radius: 0 0 16px 16px;
                box-shadow: var(--box-shadow-1);

                &.active {
                    background-image: linear-gradient(45deg, #09b987, #69d5cc);
                }

            }
        }
    }
}

// RESPONSIVENESS

// RESPONSIVE
/* PC styles (>= 1024px) */
@media only screen and (min-width: 1024px) {

}

/* Tablet styles (740px to 1023px) */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
   
}

/* Mobile styles (<= 739px) */
@media only screen and (max-width: 739px) {
    
}