.render-commission-service.modal-form.type-2 {
    // overflow: scroll;
    width: 75%;

    .modal-form--left {
        width: 50% !important;
        padding: 12px 20px 12px 0 !important;
    }

    .modal-form--right {
        position: relative;
        width: 50% !important;
    }

    .render-commission-service__artwork-container {
        text-align: center;

        .render-commission-service__artwork-item {
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 20px;
            display: block;
        }
    }

    .carousel-root {
        width: 100%;
        border-radius: 16px;
        height: 500px;
        overflow: hidden;
        background: var(--form-bg-2-color);
        position: relative;

        .carousel.carousel-slider {
            width: 100%;
            margin-bottom: 100px;
            height: calc(100% - 100px);
            display: flex;

            .control-arrow {
                top: 50%;
                color: #fff;
                font-size: 26px;
                /* bottom: 0; */
                margin-top: 0;
                padding: 5px;
                transform: translateY(-50%);
                height: 40px;
                width: 40px;
                border-radius: 50%;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.6);
                }
            }
        }


        .carousel {
            position: absolute;
            width: 100%;
            bottom: 0;
            text-align: center;

            .control-dots .dot {
                background: var(--black-1-color);
            }


            .slide {
                width: 100%;
                height: 100%;
                display: block;
                background: red;

                &:hover {
                    transition: 0.2s;
                    opacity: 0.9;
                    cursor: pointer;
                }

                img {

                    width: 100%;
                    max-height: 500px;
                    object-fit: cover;
                    // width: 100px;
                    // height: 100px;
                }
            }

            .thumb {
                width: 60px !important;
                overflow: hidden;
                border-radius: 8px;
                border: 3px solid var(--gray-2-color);
                // border: 2px solid var(--white-3-color);

                &.selected {
                    border: 3px solid var(--black-1-color);
                }


                img {
                    border-radius: 8px;
                    width: 100%;
                    height: 30px;
                    object-fit: cover;
                }

                &:hover {
                    opacity: 0.9;
                    cursor: pointer;
                }
            }
        }
    }

    .render-commission-service__owner-msg {
        background-color: var(--form-bg-3-color);
        padding: 12px 16px;
        border-radius: 0 16px 16px 16px;
        box-shadow: var(--box-shadow-5);
    }

    .order-btn {
        position: fixed;
        bottom: -14px;
        left: 50%;
        transform: translateX(-50%);
    }
}