// .profile-nav-container {
//     .profile-nav-item {
//         margin-right: 12px;
//         display: inline-flex;
//         align-items: center;
//         .profile-nav-item__ic {
//             width: 20px;
//             height: 20px;
//             object-fit: cover;
//             margin-right: 8px;
//         }

//         .profile-nav-item__title {}
//     }
// }

.app.with-sidebar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;

    .sidebar {
        width: 28%;
    }

    .outlet-content {
        width: 69%;

        .profile {
            .profile-nav-container {
                margin-top: 20px;

                .profile-nav-item {
                    margin-right: 20px;
                }
            }

            .profile__bg {
                position: relative;

                .profile__bg__img {
                    width: 100%;
                    height: 220px;
                    object-fit: cover;
                    border-radius: 8px;
                }

                .profile__bg__edit-btn {
                    position: absolute;
                    right: 12px;
                    bottom: 12px;
                    font-size: 1.4rem;
                    font-weight: 500;
                    padding: 8px 16px;
                    background-color: rgba(0, 0, 0, 0.7);
                    transition: 0.2s linear;
                    color: white;
                    display: flex;
                    align-items: center;

                    &:hover {
                        // background-color: rgba(0, 0, 0, 0.9);
                        opacity: 0.7;
                        cursor: pointer;
                    }
                    .profile__bg__ic {
                      
                    }
                }

            }
        }


    }
}