.explore-news {
    padding-top: 10px;

    .news-container {

        .news-item {
            flex: 0 0 auto;
            width: 275px;
            height: 175px;
            margin-right: 20px;
            background: linear-gradient(to top, rgb(20 20 20 / 40%), rgb(0 0 0 / 0%));
            transition: 0.1s linear;
            border-radius: 10px;
            overflow: hidden;

            .news-item__thumbnail {
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: -1;
                // filter: contrast(95%) saturate(95%);
            }

            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }

            .news-item__content {
                padding: 12px;
                position: absolute;
                bottom: 0;

                .news-item__title,
                .news-item__sub-title {
                    color: white;
                    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);

                }

                .news-item__title {
                    margin: 0 0 8px 0;
                }

                .news-item__sub-title {
                    font-weight: 300;
                    opacity: 0.8;
                }
            }
        }
    }
}