.order-history {
    .more-action-btn {
        position: relative;

        &:hover {
            opacity: 1;
        }

        .more-action-container {
            position: absolute;
            top: calc(100% + 2px);
            left: -5px;
            z-index: 10;
            width: 160px;
            background-color: var(--form-bg-2-color);
            box-shadow: var(--box-shadow-1);
            padding: 8px;
            border-radius: 8px;
            border: 2px solid var(--gray-1-color);

            &:hover {
                opacity: 1;
            }

            .more-action-item {

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

}