.artworks {
    .my-masonry-grid {
        display: flex;
        margin-left: -16px; /* gutter size offset */
        width: auto;
    }
    .my-masonry-grid_column {
        padding-left: 16px; /* gutter size */
        background-clip: padding-box;
    }

    .artwork-item {
        display: block;
        margin-bottom: 16px;
        text-decoration: none;
        color: inherit;

        .artwork-item__img {
            position: relative;
            border-radius: 18px;
            margin-bottom: 8px;

            .artwork-item__img__operation-container {
                position: absolute;
                display: flex;
                justify-content: end;
                bottom: 12px;
                right: 12px;

                .artwork-item__img__operation-item {
                    display: none;
                    margin-left: 8px;
                    background-color: var(--white-1-color);
                    border-radius: 50%;
                    width: 32px;
                    height: 32px;

                    svg {
                        margin-top: 50%;
                        margin-left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }

        .artwork-item__img__thumbnail {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 18px;
            position: relative;
            top: 0;
            left: 0;
            z-index: -1;
            max-height: 360px;
        }

        &:hover {
            .artwork-item__img__operation-item {
                display: block !important;
            }

            .artwork-item__img {
                background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)) !important;
            }
        }

        .artwork-item__view {
            display: flex;
            align-items: center;
            color: var(--gray-3-color);

            svg {
                margin-left: 4px;
                width: 16px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .my-masonry-grid {
        column-count: 4 !important;
    }
}

@media (max-width: 800px) {
    .my-masonry-grid {
        column-count: 2 !important;
    }

    .artwork-item__img__thumbnail {
        max-height: 250px;
    }
}

@media (max-width: 600px) {
    .my-masonry-grid {
        column-count: 1 !important;
    }

    .artwork-item__img__thumbnail {
        max-height: 200px;
    }
}