.navbar {
    padding: 8px 3%;

    /* padding: 10px 0; */
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--theme-color);
    transition: 0.2s linear;

    .navbar__blur {
        opacity: 0;
        transition: 0.15s linear;

        &.active {
            opacity: 1;
        }
    }

    &.with-shadow {
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    }

    .btn-3 {
        padding: 6px;

        svg {
            width: 22px;
            height: 22px;
        }
    }

    .toggle-display-conversations-btn .btn,
    .toggle-display-notifications-btn .btn,
    .toggle-display-bug-report-btn .btn {
        padding: 8px;
    }



    .navbar--left {
        display: flex;
        align-items: center;

        .navbar__brand-logo {
            width: 36px;
            height: 36px;
            object-fit: cover;
            display: inline-block;
            border-radius: 4px;
        }

        .navbar__brand-name {
            color: var(--black-color);
            font-size: 2.2rem;
            display: inline-block;
            // margin: 0 12px;
        }

        .navbar__search-field {
            position: relative;
            margin-left: 16px;
            display: flex;
            align-items: center;
            border-radius: 16px;
            transition: border 0.1s;
            min-width: 320px;
            background-color: var(--gray-7-color);
            color: var(--black-2-color);

            .navbar__search-field__ic {
                width: 20px;
                height: 20px;
                margin-left: 12px;
                color: var(--black-2-color);
            }

            .navbar__search-field__input {
                width: 100%;
                padding: 9px 10px;
                border: none;
                padding-left: 8px;
                outline: none;
                font-size: 1.4rem;
                font-weight: 600;
                border-radius: 16px;
                background-color: var(--gray-7-color);
                color: var(--black-2-color);

                &::placeholder {
                    color: var(--gray-3-color);
                    font-weight: 500;
                }
            }

            &:focus-within {
                border: 2px solid #ff9e2f;
            }

            .search-result-container {
                position: absolute;
                background-color: var(--white-3-color);
                border: 1px solid var(--gray-1-color);
                box-shadow: var(--box-shadow-2);
                border-radius: 8px;
                top: calc(100% + 8px);
                left: 0;
                right: 0;
                width: 100%;
                // min-height: 100px;
                padding: 6px;

                h4 {
                    padding: 0 6px;

                    span {
                        padding: 4px 6px;
                    }
                }

                .search-result-item {
                    border-radius: 8px;
                    padding: 6px 4px;
                    margin-bottom: 4px;
                }
            }
        }
    }

    .navbar--right {
        .navbar-link-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .navbar-link-item {
                padding: 10px 16px 10px;
                font-weight: 600;

                a {
                    font-size: 1.5rem;
                    opacity: 0.8;
                }

                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                }

                &.active {
                    position: relative;

                    a {
                        opacity: 1;
                        color: var(--black-1-color);
                    }

                    // &::after {
                    //     position: absolute;
                    //     width: 12px;
                    //     height: 4px;
                    //     border-radius: 4px;
                    //     content: "";
                    //     background-color: var(--black-2-color);
                    //     bottom: 2px;
                    //     left: 50%;
                    //     transform: translate(-50%);
                    // }
                }

                &:last-of-type {
                    padding-right: 0;
                }
            }
        }

        .navbar__veritcal-hr {
            width: 28px;
            height: 1.5px;
            margin: 0 8px;
            transform: rotate(90deg);
            background-color: var(--gray-5-color);
            opacity: 0.4;
        }

        .open-register-form-btn {
            display: flex;
            align-items: center;
        }

        .btn-7 {
            border-radius: 50px;
            border: 3px solid var(--theme-color);
        }

        .btn-7.active {
            border: 3px solid var(--white-4-color);
            box-shadow: var(--box-shadow-1);
        }

        .toggle-display-conversations-btn {
            position: relative;

            .render-conversations {
                border: 1px solid var(--gray-1-color);
                position: absolute;
                left: -155px;
                top: calc(100% + 8px);
                background-color: var(--form-bg-2-color);
                padding: 8px 12px 8px 16px;
                border-radius: 24px 0 24px 24px;
                min-width: 310px;
                height: 380px;
                box-shadow: var(--box-shadow-1);
                overflow-y: scroll;

                .unseen-dot {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: var(--orange-2-color);
                }
            }
        }

        .toggle-display-notifications-btn {
            position: relative;

            .render-notifications {
                border: 1px solid var(--gray-1-color);
                position: absolute;
                left: -200px;
                top: calc(100% + 8px);
                background-color: var(--form-bg-2-color);
                padding: 8px 12px 8px 16px;
                border-radius: 24px 0 24px 24px;
                min-width: 310px;
                height: 380px;
                box-shadow: var(--box-shadow-1);
                overflow-y: scroll;

                .unseen-dot {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: var(--orange-2-color);
                }
            }
        }

        .noti-dot {
            position: absolute;
            top: 2px;
            right: 0px;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            background-color: #ff4200;
            font-size: 1rem;
            padding: 0 3px;
            line-height: 0;
            color: white;
            /* text-align: center; */
            /* vertical-align: 10px; */
            /* display: flex; */
            /* align-items: center; */
            /* align-self: center; */
            /* border: 1px solid transparent; */
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: rgb(255 67 67 / 45%) 0px 4px 8px
        }
    }
}

// RESPONSIVE
/* PC styles (>= 1024px) */
@media only screen and (min-width: 1024px) {


    /* Add your PC-specific styles here */
}


/* Tablet and Mobile */
@media only screen and (max-width: 1023px) {
    .hamburger-menu-container {
        position: fixed;
        left: -320px;
        top: 0;
        bottom: 0;
        width: 300px;
        background-color: var(--white-3-color);
        z-index: 100;
        transition: 0.3s linear;
        padding: 28px 2%;

        &.active {
            left: 0;
        }

        .hamburger-menu-item {
            display: block;
            width: 100%;
            padding: 16px 8px;
            border-radius: 8px;
            font-size: 1.5rem;

            &.active {
                font-size: 1.8rem;
                font-weight: bold;
            }
        }
    }

}


/* Tablet styles (740px to 1023px) */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .navbar {
        padding: 8px 2%;
        position: fixed;
        z-index: 1000;

        .navbar__blur {
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            &::after {
                z-index: -1;
                content: "";
                position: absolute;
                filter: blur(10px);
                top: -25px;
                left: -25px;
                right: -25px;
                bottom: -25px;
                background-color: #181818;
            }
        }

        .navbar--left .navbar__search-field {
            min-width: 280px;
        }

        .navbar-link-item {
            display: none;


        }
    }

    /* Add your tablet-specific styles here */
}

/* Mobile styles (<= 739px) */
@media only screen and (max-width: 739px) {
    body {}

    .navbar {
        .navbar--left .navbar__search-field {
            min-width: 100px;
        }

        .navbar-link-item {
            display: none;
        }
    }

    /* Add your mobile-specific styles here */
}