.explore {

    .explore-navigation-container {

        .explore-navigation-item {}
    }

    .explore__filter-container {
        display: flex;
        align-items: center;
        margin-top: 16px;

        .show-recommender-btn {
            position: relative;
            font-weight: 500;
            margin-right: 18px;

            .recommender-container {
                width: 200px;
                position: absolute;
                left: 0;
                top: calc(100% + 8px);
                border-radius: 8px;
                border: 2px solid var(--gray-1-color);
                background-color: var(--form-bg-2-color);
                padding: 6px;
                z-index: 10;

                .recommender-item {
                    text-align: start;
                    padding: 8px 12px;
                    border-radius: 8px;

                    &:hover {
                        background-color: var(--gray-1-color);
                        cursor: pointer;
                    }
                }
            }
        }

        .explore__filter-item {
            display: flex;
            align-items: center;
            min-width: 170px;
            padding: 6px 8px;
            border-radius: 8px;

            &:hover {
                background-color: var(--gray-1-color);
                cursor: pointer;
            }

            img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 6px;
                margin-right: 8px;
            }

            .explore__filter-item__details {
                .explore__filter-item__details__title {
                    margin-bottom: 6px;
                    display: block;
                }

                .explore__fitler-item__details__count {
                    color: var(--gray-3-color);
                }
            }
        }
    }
}