.render-commission-order {
    .reference-container {
        .reference-item {
            img {
                width: 150px;
                height: 180px;
            }
        }
    }
}

// RESPONSIVE
/* PC styles (>= 1024px) */
@media only screen and (min-width: 1024px) {

}

/* Tablet styles (740px to 1023px) */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
   
}

/* Mobile styles (<= 739px) */
@media only screen and (max-width: 739px) {
    .render-commission-order {
        .reference-container {
            .reference-item {
                img {
                    width: 80px;
                    height: 80px;
                }
            }
        }
    }
    
}