// .render-users {
//     .user-container {
//         .user-item {
//             display: block;
//             position: relative;

//             .user-item__bg {
//                 width: 100%;
//                 height: 100px;
//                 // position: absolute;
//                 // left: 0;
//                 // right: 0;
//                 // top: 0;
//                 // height: 100px;
//             }
//         }
//     }
// }

.render-users {
    .my-masonry-grid_column {
        padding-left: 16px;
        padding-right: 16px;
        background-clip: padding-box;
    }

    .my-masonry-grid {
        display: flex;
        margin-left: -10px;
        /* gutter size offset */
        width: auto;

        &.layout-4 {
            .my-masonry-grid_column {

                padding-left: 0;
            }
        }
    }

    .user-container {
        .user-item {
            border-radius: 12px;
            display: block;
            width: 100%;
            position: relative;
            padding: 12px;

            .user-item__bg {
                width: 100%;
                z-index: 1;
                height: 110px;
                border-radius: 8px 8px 0 0;
            }

            .user-item__content {
                z-index: 10;
                left: 20px;
                position: relative;
                top: -12px;

                .user {
                    // position: absolute;
                    // z-index: 10;
                    // top: 150px;
                    // left: 32px;

                    .user__avatar {
                        width: 50px;
                        height: 50px;
                        border: 3px solid white;
                        box-shadow: var(--box-shadow-1);
                    }

                    .user__name {
                        font-size: 1.6rem;
                        font-weight: bold;
                    }
                }

            }

            // .user-item__image-container {
            //     .image-item {
            //         width: 100%;

            //         .lazy-load-image-loaded {
            //             width: 100%;
            //         }

            //         &:nth-of-type(1) {
            //             // width: 100%;
            //             height: 220px;
            //         }

            //         &:nth-of-type(2),
            //         &:nth-of-type(3) {
            //             height: 108px;
            //         }

            //         img {
            //             width: 100%;
            //             // height: 100px !important;
            //         }
            //     }
            // }

            // .user-item__status {
            //     position: absolute;
            //     padding: 6px 12px;
            //     border-radius: 12px;
            //     z-index: 1;
            //     top: 20px;
            //     left: 20px;

            //     &.open {
            //         background-image: linear-gradient(45deg, #00a1e1, #12bf4c);
            //         color: white;
            //         box-shadow: rgb(113 208 255 / 80%) 0px 1px 10px;
            //     }

            //     &.closed {}

            //     &.open {
            //         background-image: linear-gradient(45deg, #0083e9, #fb76eb);
            //         color: white;
            //         box-shadow: rgb(113 116 255 / 80%) 0px 1px 10px;
            //     }
            // }

            // .user-item__bookmark-btn {
            //     position: absolute;
            //     top: 12px;
            //     right: 24px;
            //     background-color: white;
            //     z-index: 1;
            //     padding: 24px 8px 4px 8px;
            //     border-radius: 0 0 16px 16px;
            //     box-shadow: var(--box-shadow-1);

            //     &.active {
            //         background-image: linear-gradient(124deg, #7b60e5, #d57af3);
            //     }

            // }
        }
    }
}